h1{
 font-size: 70px;
 font-family: 'Lato', sans-serif;
 text-shadow: grey 3px 3px 6px;
}
h2{
 font-size: 60px;
 font-family: 'Lato', sans-serif;
 color: rgb(100, 97, 97);
 text-align: center;
 text-shadow:grey 3px 3px 6px;
}
h3{
 font-size: 50px;
 text-align: center;
 font-family: 'Lato', sans-serif;
}
.content{
 width: 50%;
 padding-left: 70px;
 padding-right: 20px;
 padding-top: 100px;
 padding-bottom: 20px;
}
.content-two{
 width: 50%;
 padding-left: 200px;
 padding-right: 150px;
 padding-top: 30px;
 padding-bottom: 50px;
}
.heading{
 color: rgb(30, 30, 192);
}
.red-color{
 color: red;
}
.health{
 text-align: center;
 color: grey;
 font-size: 30px;
}
.flexible-continer{
 display: flex;
 font-family: 'Lato', sans-serif;
 color: rgb(100, 97, 97);
}
.sectionone{
 background-image: url(food-net-images/Frame\ 56.jpg);
 background-repeat: no-repeat;
 background-size: cover;
margin: 0%;
}
.sectiontwo{
 background-image: url(food-net-images/Frame\ 58.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 margin: 0%;
}
div img{
 object-fit: fill;
 padding-left: 70px;
 padding-top: 55px;
width: 400px;
}
.image{
 object-fit: fill;
 padding-left: 70px;
 padding-top: 55px;
 padding-bottom: 40px;
width: 400px;
}
p{
 font-size: 20px;
 font-weight: 500;
}
.order-link{
 text-decoration: none;
 display: inline-block;
 text-align: center;
 background-color: blue;
 padding: 5px 10px;
 color: white;
 border-radius: 5px;
 padding: 5px 10px;
 box-shadow: grey 4px 4px 10px;
 background-image: linear-gradient(skyblue, blue);
}
.resume{
 text-decoration: none;
 display: inline-block;
 text-align: center;
 background-color: blue;
 padding: 5px 10px;
 color: white;
 border-radius: 5px;
 padding: 5px 10px;
 box-shadow: grey 4px 4px 10px;
 background-image: linear-gradient(pink, red);
}
.ordered{
 width: 30%;
margin-left: 5%;
margin-right: 5%; 
 box-shadow: grey 10px 10px 30px;
 text-align: center; 
 padding-left: 10px;
 padding-right: 10px;
 padding-bottom: 20px;
 border-radius: 10px;
 background-color: lemonchiffon;
}
.ordered img{
 width: 150px;
 padding-left: 5px;
 padding-right: 5px;
}
.end{
 padding-top: 30px;
 padding-bottom: 10px;
}
